:root {
    --white: #ffffff;
    --lightgrey: #cccccc;
    --darkgrey: #999999;

    --darkred: red;
    --red: #ffbf00;
    --grey: grey;
    --green: lime;
    --darkgreen: green;

    --small-text: 0.8em;
    --medium-text: 1em;
    --large-text: 2em;
    --xlarge-text: 3em;
    --radius: 10px;

    --medium-weight: 400;
    --heavy-weight: 700;
}

.valence-legend {
    height: 10px;
    max-width: 500px;
    margin: 0 auto;
}
.valence-darkred {
    background-color: var(--darkred);
}
.valence-red {
    background-color: var(--red);
}
.valence-grey {
    background-color: var(--grey);
}
.valence-green {
    background-color: var(--green);
}
.valence-darkgreen {
    background-color: var(--darkgreen);
}


.zume-cards.critical-path {
    background: linear-gradient(var(--lightgrey), var(--lightgrey)) no-repeat center/10px 90%;
}
.zume-trio-card {
    max-width: 700px;
    background-color: var(--grey);
    border-radius: var(--radius);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.6);
    margin: 20px auto;
    text-align: center;
    color: white;
}
.zume-trio-card-content {
    padding: 1.5em 0;
    cursor: pointer;
    border: 1px solid var(--white);
}
.zume-trio-card-content:hover {
    background-color: var(--darkgrey);
}
.zume-trio-card .zume-trio-card-title {
    vertical-align: middle;
    font-size: var(--large-text);
}
.zume-trio-card .zume-trio-card-value {
    vertical-align: middle;
    font-size: 4em;
    font-weight: var(--heavy-weight);
}
.zume-trio-card .zume-goal {
    border-radius: 0 0 0 var(--radius);
    color: white;
    height: 50px;
    font-size: var(--large-text);
    border: 1px solid var(--white);
}
.zume-trio-card .zume-trend {
    border-radius: 0 0 var(--radius) 0;
    color: white;
    height: 50px;
    font-size: var(--large-text);
    border: 1px solid var(--white);
}


.zume-card {
    border-radius: var(--radius);
    border: 1px solid var(--white);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.6);
    padding: 16px;
    margin: 5px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}
.zume-card .zume-card-title {
    color: var(--white);
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 8px;
}
.zume-card .zume-card-content {
    font-size: var(--xlarge-text);
    font-weight: var(--heavy-weight);
    margin-bottom: 8px;
}
.zume-card .zume-card-footer {
    color: var(--white);
    font-size: var(--small-text);
    font-weight: 400;
    margin-bottom: 8px;
    height: 40px;
}
